# Environnement virtuel
venv/
env/
ENV/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de distribution
dist/
build/
*.egg-info/

# Fichiers d'environnement
.env
.venv

# Fichiers système
.DS_Store
Thumbs.db 